[2022-11-16 01:20] #8701 closed

[2022-11-16 03:39] #8783 closed

[2022-11-16 05:38] pmbrull opened #8789 "Ingestion 0.13 improvements"
- https://github.com/open-metadata/OpenMetadata/issues/8790
- https://github.com/open-metadata/OpenMetadata/issues/8750
- https://github.com/open-metadata/OpenMetadata/issues/8698
- https://github.com/open-metadata/OpenMetadata/issues/8794
- https://github.com/open-metadata/OpenMetadata/issues/8728
- https://github.com/open-metadata/OpenMetadata/issues/8658
- https://github.com/open-metadata/OpenM

[2022-11-16 05:39] pmbrull opened #8790 "MySQL profiler not computing any data"
something weird is happening, while profiling the from mysql we get success from api but in airflow its showing some error and also we are not getting profiler data

[code]

Thanks @ShaileshParmar11

[2022-11-16 05:39] harshach commented on #8772
@k-popov we do not support 7.17 version and beyond due to the elasticsearch library breaking the compatibility. We need to work on this to move onto OpenSearch client

[2022-11-16 06:26] #8752 closed

[2022-11-16 06:58] pmbrull opened #8794 "metadata CLI forces installation of gcsfs"
Running `metadata ingest ....` forces us to install `gcsfs`.

We should run some imports lazily inside functions for such entrypoints.

Also, we can separate datalake S3 and GCS import requirements to avoid forcing unnecessary installs.

[code]

[2022-11-16 07:05] #8687 closed

[2022-11-16 07:05] #8774 closed

[2022-11-16 07:05] #4674 closed

[2022-11-16 07:08] pmbrull commented on #8735
Thanks for reaching out! Let us take a look 🙏

cc @harshach @chirag-madlani

[2022-11-16 07:12] pmbrull commented on #8648
@nahuelverdugo do you want to chip in here? 🙏

[2022-11-16 07:17] pmbrull commented on #8569
hi @erdos2n thanks for reaching out, apologies for the delay missed the ticket.

I am not sure from where you took the package `openmetadata-airflow`, that is not something we are publishing AFAIK.

The `requirements.txt` could look like

[code]

The `airflow-container` plugin is not needed, as you are already installing it on an existing airflow host. We only use it for testing.

[2022-11-16 07:18] chirag-madlani commented on #8741
Yes, there's a mismatch. Will fix it in 0.13.0
Thanks for pointing it out @stevenspadotto @harshach

[2022-11-16 07:55] ShaileshParmar11 opened #8795 "UI: Lineage is not working properly for 1000+ nodes, performance issue"
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/71748675/202120509-5e948e60-b346-4352-bcee-98d536a3d5e0.png">

[2022-11-16 08:01] TeddyCr commented on #8754
- [ ] UI has a horizontal scroll bar
- [ ] data insight vertical scroll bar does not match the page height

Uploading Screen Recording 2022-11-16 at 9.00.23 AM.mov…

[2022-11-16 08:04] nahuelverdugo commented on #8648
Hi @najdalq,
Currently, the passwords are only sent to the admins/bots, so any other user or unauthenticated one cannot see them (in DB, all these values are encrypted).
We also support the configuration of a Secrets Manager, where we can use secret ids stored in AWS Secrets Manager or AWS Parameter Store for the passwords that add another layer of security.
To start working on this issue and to u

[2022-11-16 08:14] TheFu527 opened #8798 "Support Iceberg Partition"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to ask how the tablePartition in OM supports Iceberg's Partition? For Iceberg, there is no case where an interval corresponds to multiple columns. On the contrary, a table corresponds to multiple intervals, such as hour, day a

[2022-11-16 08:15] nahuelverdugo commented on #7481
Closing since it will be covered by https://github.com/open-metadata/OpenMetadata/pull/8764.

[2022-11-16 08:15] #7481 closed

[2022-11-16 08:34] TeddyCr commented on #8754
- [ ] When we set the KPI, we have 2 ->  PERCENTAGE and NUMBER

If it is PERCENTAGE the value in the targetDefinition  should be a decimal number (i.e. 0.76) -- ONLY for percentage. Right now we send a whole number

[2022-11-16 08:37] chirag-madlani commented on #8741
Need to fix count issue

[2022-11-16 09:05] #8698 closed

[2022-11-16 09:15] OnkarVO7 opened #8800 "Fix Redash Source"
**Affected module**
Ingestion

**Describe the bug**
Filterpatterns and Lineage for Redash are not working

[2022-11-16 09:34] devyani-kaushik commented on #8513
Change matadata Icon on settings page to svg shared below
![metadata](https://user-images.githubusercontent.com/103238069/202143613-cf2a2329-b09e-4582-8747-39e5c2864d96.svg)
![image](https://user-images.githubusercontent.com/103238069/202143710-9ef65277-ab60-46b8-95d7-7e1e060a8bb6.png)

[2022-11-16 09:59] #7327 closed

[2022-11-16 10:43] #8800 closed

[2022-11-16 10:43] Sachin-chaurasiya commented on #8513
- [ ] On UI replace `entity` with `data asset` and `entities` with `data assests`

[2022-11-16 11:55] mohityadav766 commented on #8754
![image](https://user-images.githubusercontent.com/105265192/202174316-7d0f1a02-a43f-4c7a-baa3-f5f3eed2ecf8.png)
The table percentage is not showing

[2022-11-16 11:58] mohityadav766 commented on #8754
@TeddyCr I might be missing something over here , but we do take into account the column description as per the discussion we had in the call, but as you can see in the image the fraction for table = 0.611 is 11/18 (entityWithDescription/TotalTableEntity) although in actual majority of the table in my case had table level as well as column level desciption
<img width="1310" alt="image" src="https:

[2022-11-16 13:07] OnkarVO7 commented on #8559
**Update on the issue:**
This error is occuring due to missing `analysis` nodes in the catalog files.

**Solution:**
The analysis node can be filtered out from since it is not relevant and only used for testing purpose.
https://docs.getdbt.com/docs/build/analyses

[2022-11-16 13:54] #8785 closed

[2022-11-16 14:03] #8727 closed

[2022-11-16 14:51] TeddyCr commented on #8754
@mohityadav766 are you able to confirm if the numbers match you see in the UI (i.e. 11 and 18)?

[2022-11-16 17:17] sureshms opened #8821 "Inherit ownership from parent container when creating children"
See #8479 for more details

This issue inherits the ownership as follows:
1. When a `databaseSchema` is created, if the owner is not set, it is inherited from its parent container `database`
2. When a `table` is created, if the owner is not set, it is inherited from its parent container `databaseSchema`

[2022-11-16 17:20] sureshms opened #8823 "Allow setting ownership and propagate it to the children"
See https://github.com/open-metadata/OpenMetadata/issues/8479 for more details

This issue proposes the ownership propagation as follows:

When ownership is for an entity, provide an option to propagate it to the children. There are three options needed in the UI:
1. Choose not to propagate ownership
2. Choose to propagate ownership only if the child does not have owner already set
3. Choose to pr

[2022-11-16 17:22] sureshms commented on #8479
Related tasks:
- [ ] #8821
- [ ] #8823

[2022-11-16 17:29] sureshms commented on #8648
@nahuelverdugo we should only send the password to the ingestion framework and probably never to the UI. cc @harshach thoughts?

[2022-11-16 17:31] harshach commented on #8648
@sureshms yes that's what we were discussing yesterday with @nahuelverdugo always send masked passwords except for ingestion-bot

[2022-11-16 17:36] #1011 closed

[2022-11-16 21:59] #8821 closed

[2022-11-16 23:43] #8738 closed

[2022-11-17 00:00] sureshms commented on #1396
Data insights work that is being done will address this.

[2022-11-17 00:00] #1396 closed

[2022-11-17 00:08] #1832 closed

[2022-11-17 00:10] sureshms commented on #2886
This is no longer relevant

[2022-11-17 00:10] #2886 closed

[2022-11-17 00:19] sureshms commented on #5179
OpenMetadata has a comprehensive spec for not only lineage but a much wider landscape of metadata. Marking this as won't fix. Reopen if you still feel this is necessary.

[2022-11-17 00:19] #5179 closed

[2022-11-17 00:19] #4776 closed

[2022-11-17 00:46] sureshms commented on #5849
Tier tags are system tags. Whether an organization uses it or not, many of OpenMetadata feature uses tiering information in various features. Given system tags can't be deleted, this issue should not occur. Marking as closed.

[2022-11-17 00:46] #5849 closed

[2022-11-17 00:48] sureshms commented on #6235
@anshu-sam marking this as closed. Reopen with additional information if necessary.

[2022-11-17 00:48] #6235 closed

[2022-11-17 00:49] sureshms commented on #6324
Closing this issue for now. @Mohammad-nassar10, if the issue still exists, please do reopen this issue with additional information.

[2022-11-17 00:49] #6324 closed

[2022-11-17 00:51] sureshms commented on #6623
@rameeshm this issue looks like has been fixed. Feel free to reopen the issue, if it still exists.

[2022-11-17 00:51] #6623 closed

[2022-11-17 01:00] sureshms commented on #6630
In the code per the naming convention, we are using mlModel etc. Thre is one instance Ml that is incorrect while the other instances rightly use ML in the documentation.

[2022-11-17 01:57] #2254 closed

[2022-11-17 02:16] sureshms commented on #6776
This is now supported with #8783

[2022-11-17 02:16] #6776 closed, assigned to nobody

[2022-11-17 02:27] #8744 closed

[2022-11-17 02:28] harshach commented on #8726
@TeddyCr are we handling this in 0.13?

[2022-11-17 02:28] harshach commented on #8680
@ShaileshParmar11 can we handle this for 0.13?

[2022-11-17 02:33] sureshms commented on #8324
This issue is already fixed

[2022-11-17 02:33] #8324 closed

[2022-11-17 02:47] harshach commented on #8422
@ulixius9 is this done?

[2022-11-17 02:48] harshach commented on #8569
@pmbrull can we close this?

[2022-11-17 02:50] harshach commented on #8376
@mohityadav766 can you please check and see if we can land the fix for 0.13.0

[2022-11-17 02:52] harshach commented on #8350
@ishita-0023 is this connector done
cc @pmbrull

[2022-11-17 03:08] harshach commented on #8721
@mohityadav766 any update on this one?

[2022-11-17 03:08] harshach commented on #8717
@chirag-madlani @ulixius9 any updates?

[2022-11-17 03:09] harshach commented on #8675
@TeddyCr @ayush-shah can you look into this?

[2022-11-17 03:10] harshach commented on #8650
@TeddyCr can we make these consistent?

[2022-11-17 03:12] harshach commented on #8602
@MilanBariya @Vj-L any update on the docs?

[2022-11-17 04:13] #3875 closed

[2022-11-17 04:16] #5394 closed

[2022-11-17 04:22] ayush-shah commented on #8675
I will handle this in my upcoming PR for test suites

[2022-11-17 04:29] ayush-shah commented on #7995
@hendrix04 is this still an issue? if not, let me know if can close this issue
cc: @TeddyCr @harshach

[2022-11-17 05:46] dipankar1415 opened #8830 "Record Count not showing with Profiler enabled for mysql database"
**Affected module**
Does it impact the UI, backend or Ingestion Framework? Impact the UI, Profiler and Data Quality to not show the count

**Describe the bug**
Created a database connection and enabled Ingestion and Profiler. I have created a new table and added some rows to that database, which the Open Metadata is connected, but for that table I see the total rows zero.

**To Reproduce**

Screen

[2022-11-17 05:56] devyani-kaushik commented on #8513
- [ ] bottom padding of the filters can be reduced a little and should we fix the position ?

<img width="1440" alt="Screenshot 2022-11-17 at 10 59 14 AM" src="https://user-images.githubusercontent.com/103238069/202363965-fd890bea-3796-48fc-8f48-bd3ba12f5ca4.png">

[2022-11-17 05:58] TeddyCr commented on #8830
@dipankar1415 could you re run the profiler with debug on and share the logs here?

[2022-11-17 06:47] ShaileshParmar11 opened #8831 "UI: Lineage exit full screen is not working for pipeline entity"
- Lineage exit full screen is not working for pipeline entity
- The name of tab should be Lineage

![image](https://user-images.githubusercontent.com/71748675/202375627-822ccf1b-ea36-4f08-bdef-1d341c5f94ec.png)

https://user-images.githubusercontent.com/71748675/202375821-8b7fe026-308a-4515-b533-1f853e9db72e.mov

[2022-11-17 06:55] #8431 closed

[2022-11-17 06:56] #8746 closed

[2022-11-17 06:58] #6326 closed

[2022-11-17 06:59] TeddyCr commented on #6294
@harshach I am going to close this as this will be supported by the freshness metric implementation

[2022-11-17 06:59] #6294 closed

[2022-11-17 07:12] pmbrull commented on #8717
we can push this to 0.13.1

[2022-11-17 07:48] #8750 closed

[2022-11-17 08:24] #8559 closed

[2022-11-17 08:56] #8462 closed

[2022-11-17 09:03] #8831 closed

[2022-11-17 09:11] #8794 closed

[2022-11-17 09:56] Ashish8689 commented on #8735
Hii @stevenspadotto,  we are already encoding it, please find below the example from Sandbox. Let me know if I am missing something.

`https://sandbox.open-metadata.org/table/demo_datalake.default.awsdatalake-testing.%22data%2Fsales%2Fsales.csv%22/lineage`

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/66266464/202414239-bc944421-37a4-4e9f-be2e-39919f87e465.png">

[2022-11-17 10:45] #8675 closed

[2022-11-17 11:21] ayush-shah commented on #8830
@dipankar1415 we recommend the users to use the stable releases to run data.
could you upgrade the OM server and ingestion to 0.12.2 version?

[2022-11-17 11:26] ulixius9 commented on #8513
- [ ] parentheses missing even though available in api response in `dataTypeDisplay`

![image](https://user-images.githubusercontent.com/39544459/202433803-af29ff3d-50b0-4aef-8b98-75cc06bbb632.png)

[2022-11-17 11:31] #8658 closed

[2022-11-17 11:48] #8754 closed

[2022-11-17 12:07] NiharDoshi99 opened #8841 "Docs Update For BigQuery and Domo"
Domo
 - Add Troubleshoot page for client Id , accessToken, Scopes

BigQuery
- Add troubleshoot page for multiple project-id wherever required.

[2022-11-17 13:10] ShaileshParmar11 opened #8846 "UI: Replace all the modal with antd modal in the UI"

[2022-11-17 15:31] formedMaca opened #8850 "Column lineage doesn't work"
**Affected module**
UI

**Describe the bug**
I found that the linage between columns doesn't work. I have a Redshift database connection, and a view, when I go to the lineage tab I can see the lineage between tables but not in columns

**To Reproduce**

The DDL from the view

[code]
![Captura de pantalla 2022-11-17 a las 15 06 22](https://user-images.githubusercontent.com/6979884/202484766-dff8a91

[2022-11-17 15:59] pmbrull opened #8852 "Revisit and simplify ES querying logic for lineage"
instead of calling ES and the API, centralise calls to ES to pick up FQN and ID.

This will already give us the normalized entities and with the ID we are good to go to build the lineage edge

[2022-11-17 16:02] DovileKr opened #8854 "datalake metadata connector: parsing CSV"
**Is your feature request related to a problem? Please describe.**
Can't capture CSV file schema

**Describe the solution you'd like**
I would like to be able to load csv files from via datalake metadata connector and provider delimiter information so they can be parsed, and I would have the correct schema. However, should be per file name pattern, so I don't have thousands of schemas for the same

[2022-11-17 16:12] ulixius9 opened #8855 "Ingestion: mark deleted entities"
extend the feature of `markDeletedTables` to other data source entities

support thread: https://openmetadata.slack.com/archives/C02B6955S4S/p1668699315444879

[2022-11-17 17:13] pmbrull commented on #8602
there's an open PR that was just reviewed https://github.com/open-metadata/OpenMetadata/pull/8678 we'll close it tomorrow

[2022-11-17 17:25] #7710 closed

[2022-11-17 17:26] harshach commented on #7870
@ayush-shah can we close this out

[2022-11-17 17:27] harshach commented on #7611
@nahuelverdugo shall we start removing the auth mechanisms from the Airflow section

[2022-11-17 18:30] stevenspadotto commented on #8735
@Ashish8689 the GET request that is being used when I try to expand a node in the lineage graph by clicking on the `<` symbol is the following. Here is what I see as the Request URL. The forward slashes are not URL encoded:

[code]

[2022-11-17 22:55] harshach commented on #2318
@akash-jain-10 can we prioritize this for 0.13.1?

[2022-11-17 22:56] harshach commented on #4839
@akash-jain-10 what is remaining here?

[2022-11-17 22:57] harshach commented on #5594
@ulixius9 did we document this?

[2022-11-17 22:58] harshach commented on #7290
@Sachin-chaurasiya this is done. Please re-open if necessary

[2022-11-17 22:58] #7290 closed

[2022-11-17 23:42] pjain-branch opened #8858 "Get more metadata from looker"
**Is your feature request related to a problem? Please describe.**
I successfully integrated with looker today. I could see that openmetadata ingests the dashboard names and charts. But not a lot of metadata is ingested. We will have to manually add a lot of the metdata like descriptions, tags, etc. With 245 dashboards and charts it is quite a manual task.

**Describe the solution you'd like**
If

[2022-11-18 05:02] Sachin-chaurasiya commented on #8513
The dropdown icon is not aligned.
![image](https://user-images.githubusercontent.com/59080942/202622234-b3476407-a7fd-4a8a-a45c-ab2fe34524de.png)

[2022-11-18 05:05] Sachin-chaurasiya commented on #8513
@Ashish8689 Disable the test connection button for `matadata service` on the edit connection page.
![image](https://user-images.githubusercontent.com/59080942/202623265-e7360f7e-e8de-4b36-b61d-5f5265df09a6.png)

[2022-11-18 05:12] Sachin-chaurasiya opened #8859 "Ingestion : Data Insight pipeline is not running at scheduled time"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
Ingestion

**Describe the bug**
A clear and concise description of what the bug is.
I have created and deployed the data insight pipeline and scheduled it to run at `10:35` every day, but time passed and still pipeline is in a `queued` state.
![image](https://user-images.githubusercontent.com/59080942/202624176-b9ca1938-03e

[2022-11-18 05:29] NiharDoshi99 opened #8860 "Remove StartDate on Pipeline UI"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
UI

**Describe the bug**
To remove StartDate on UI as it is not getting populated.

Screenshots or steps to reproduce
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/51595473/202627331-e79a87ce-86d7-4e1a-81bd-f4057946186a.png">

[2022-11-18 05:30] Sachin-chaurasiya commented on #8513
@aniketkatkar97 , Replace this icon with the below one
![image](https://user-images.githubusercontent.com/59080942/202627753-55aac1d5-0290-4599-987a-0c4ea4cb4135.png)

![image](https://user-images.githubusercontent.com/59080942/202627576-1b0190cb-5d80-4d4d-9970-a66f13c1ba69.png)

[2022-11-18 06:28] pmbrull opened #8866 "datamodel codegen creates different names"
for models that are defined +1 depending if the classes are generated on macos or linux.

- [x] Prepare a reproducible example
- [x] Check with datamodel devs
- [x] Fix
- [ ] Update dependency

[2022-11-18 07:10] KeyonQu opened #8867 "Result size exceeds LISTAGG limit"
**Affected module**
Error 'Result size exceeds LISTAGG limit' in lineage ingestion logs when connects to Redshift datasets.

**Describe the bug**
OpenMetadata uses the LISTAGG to aggregate the full query text as it is divided into chunks of 200 characters in pg_catalog stl_querytext. Therefore, in this case, it fails because the size of all the chunks sums more than 65535 bytes limits.

**To Repro

[2022-11-18 07:12] ayush-shah commented on #8830
Closing this issue as it's fixed in later stable version.

[2022-11-18 07:12] #8830 closed

[2022-11-18 07:17] harshach commented on #8513
- [ ] font sizes and arrows look out of place compare to others we use
<img width="1509" alt="image" src="https://user-images.githubusercontent.com/38649/202643547-129a856f-0113-4dfd-a660-7cef3800aba5.png">
- [ ] @chirag-madlani we shouldn't be showing the list view and DAG view in the same page. It should be switchable button that can switch from list to DAG view. Default should be switch view
<i

[2022-11-18 07:19] harshach commented on #8513
- [ ] profiler metrics looks too big cc @devyani-kaushik
<img width="401" alt="image" src="https://user-images.githubusercontent.com/38649/202643908-e06636a4-1c7e-46bb-9283-f9414c13561d.png">

[2022-11-18 08:41] #8408 closed

[2022-11-18 08:44] ulixius9 opened #8868 "Datalake connector support `.json.gz` files"
**Affected module**
Ingestion Framework

**Describe the bug**
Datalake connector support `.json.gz` files

[2022-11-18 09:34] dion-gdn opened #8873 "Quick switch between two filter on search/explore page shows incorrect data"
**Affected module**
Bug found in the frontend/UI

**Describe the bug**
On the explore/search page there's a bunch of filters on the left side. This filter works great but when I try to quickly switch between two filters something weird happened. Somehow the data shown in the search result is not the currently selected filter, but rather it shows the data from the previously selected filter.

**To

[2022-11-18 09:43] OnkarVO7 opened #8874 "Antlr issue for strings with double quotes"
**Affected module**
Ingestion

**Describe the bug**
A string of format `TABLEAU.\"PUBLIC\".SC_0700_HSE_CONSUMPTIONS` when passed to the `fqn.split` method throws an exception
[code]

**Version:**
 - OS: [e.g. iOS]
 - Python version:
 - OpenMetadata version: [e.g. 0.12.2]
 - OpenMetadata Ingestion package version: [e.g. `openmetadata-ingestion[docker]==XYZ`]

[2022-11-18 10:30] aniketkatkar97 commented on #8513
- [ ] Fix time for the Firefox browser
<img width="859" alt="Screenshot 2022-11-18 at 3 59 18 PM" src="https://user-images.githubusercontent.com/51777795/202681330-e927886b-71c4-42dd-a94c-2abad786be6c.png">

[2022-11-18 10:31] #8868 closed

[2022-11-18 10:34] ulixius9 commented on #5594
@harshach yes ADC docs are already available, closing this issue

[2022-11-18 10:34] #5594 closed

[2022-11-18 10:35] #8728 closed

[2022-11-18 11:05] #8241 closed

[2022-11-18 11:11] #7870 closed

[2022-11-18 12:14] #8860 closed

[2022-11-18 12:28] #8735 closed

[2022-11-18 13:45] #8841 closed

[2022-11-18 14:01] nahuelverdugo opened #8884 "Move views/DBT lineage into lineage workflow"
**Issue**
Currently, lineage is divided into different workflows. On the one hand, the lineage of views and DBT is done during the metadata ingestion workflow. On the other, we are extracting the rest of the lineage in the lineage workflow.

This could cause some issues:
- Workflows are doing more than expected.
- Confusing for the user after first ingestion since they partially have lineage in vi

[2022-11-18 14:15] nahuelverdugo opened #8885 "Misleading WARNING on logs with 404 errors"
**Issue**
Every time the `ometa_client` fails to do a call to the OM server, it logs a `WARNING` for any 404 error on the logs, regardless of whether it can be expected. These logs add misleading ideas about what could happen internally in the code.
**Solution**
We have to log these errors depending on if they are expected.

[2022-11-18 14:46] NiharDoshi99 opened #8886 "Docs update for Dagster"
Update Docs for Dagster
 - `Cloud Dagster`
- `Local Dagster`

[2022-11-18 15:30] tpegram22 opened #8888 "Basic Auth Email URL Configuration"
**Affected module**
UI/Backend/Email

**Describe the bug**
When using the docker containers emails sent which contain links generate urls to localhost rather than to the OM server url/dns name
**To Reproduce**
Deploy OM with Docker/Podman
Configure OM server for SMTP, send an email such as forgot password

**Expected behavior**
Forgot password or other email links generated with dns name set in co

[2022-11-18 17:10] k-popov opened #8892 "User with "DenyAll" policy is able to see tables in search results"
**Affected module**
UI/backend

**Describe the bug**
A user (set up with Custom OIDC) is only the member or Organization team. This organization team has the only role "EverybodyRole" assigned. The mentioned role has only one policy attached consisting of two rules:
![image](https://user-images.githubusercontent.com/1763358/202760501-62fa35ac-4918-46a6-aec6-3e2c369ddd95.png)
The rules (if my under

[2022-11-18 18:27] nahuelverdugo commented on #7611
@harshach opened https://github.com/open-metadata/OpenMetadata/pull/8896 to deprecate the use of the configuration of the bot auth mechanism in the YAML configuration of the OM server. It will not force the user to remove it. So points 2 and 4 should be covered.

[2022-11-18 18:38] #8602 closed

[2022-11-18 21:02] k-popov commented on #8892
@harshach thank you for quick reply! Do I understand that right that **for now** this is expected behavior: show **list** of tables in "explore" view regardless of role permission? You mentioned search but I didn't use search when reproducing the situation.

[2022-11-19 02:34] sureshms commented on #8892
@k-popov the explore page shows data assets powered by search. Are you able to click the data asset shown during explore and view them?

[2022-11-19 05:57] #8676 closed

[2022-11-19 10:50] NithinKumaraNT opened #8898 "UI: Ability to select user as a type for custom attributes"
**Is your feature request related to a problem? Please describe.**
As a source of contact for an entity, an owner is necessary but not sufficient. Sometimes it is necessary to add multiple users as contacts.

**Describe the solution you'd like**
Currently the custom attributes accept the types - Integer, String and Markdown. It would be nice to have a **User** type (OM users). This feature provide

[2022-11-20 03:25] Daniel53245 commented on #6760
Hi, sorry to say it but could I get unassigned to the issue? I feel that I am not able to fix it. @TeddyCr

[2022-11-21 04:56] chirag-madlani commented on #8741
Fixed in 13.0

[2022-11-21 04:56] #8741 closed

[2022-11-21 05:28] Sachin-chaurasiya opened #8901 "UI : Show bot user roles on bot detail page"
We need to show bot user roles and inherited roles on the bot detail page as we show on the user detail page.

User detail page.

![image](https://user-images.githubusercontent.com/59080942/202972678-4c2a2505-3357-480a-83d9-56ad35e00360.png)

same we have to show that on the bot detail page.
![image](https://user-images.githubusercontent.com/59080942/202972799-c5cd467b-9c59-47a8-b1f1-ee3cc42f9389.

[2022-11-21 05:30] pmbrull commented on #8789
marking this as done. Those tickets are the ones we'll merge in 0.13 for the release

[2022-11-21 05:30] #8789 closed

[2022-11-21 06:16] pmbrull commented on #4885
Closing this for now. @DataScientistSamChan feel free to ping us here if you still need help with that. It would be good to sync and work together on delivering and testing the fix. Thanks

[2022-11-21 06:16] #4885 closed

[2022-11-21 06:42] Sachin-chaurasiya opened #8906 "UI : update what's new entries for 0.13.0"
Update what's new entries for 0.13.0

[2022-11-21 06:54] ulixius9 opened #8907 "Struct type columns not expanding in UI"
**Affected module**
UI

**Describe the bug**
Struct type columns not expanding in UI

![image](https://user-images.githubusercontent.com/39544459/202981539-5e16337f-7d43-4c57-a74a-bc44c3252e42.png)

**To Reproduce**
Ingest any table with struct type col

[2022-11-21 07:20] #8494 closed

[2022-11-21 07:20] #8778 closed

[2022-11-21 07:42] Sachin-chaurasiya opened #8910 "UI : Add owner is not working for table entity."
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
UI

**Describe the bug**
A clear and concise description of what the bug is.
When we try to add an owner after adding the tier to the table entity, it throws an error.

**To Reproduce**

Screenshots or steps to reproduce
1. Go to any table entity
2. Add the tier
3. then add the owner

**Expected behavior**
A clear and conci

[2022-11-21 08:03] pmbrull commented on #8858
from https://openmetadata.slack.com/archives/C02B6955S4S/p1668715434924659

[2022-11-21 09:01] #8888 closed

[2022-11-21 09:19] pmbrull opened #8917 "Lineage query log exceptions"
We need to update some Database service classes.

The service type is not properly found, and usage forces some required fields which should not be needed

[2022-11-21 09:58] #8910 closed

[2022-11-21 10:00] miguel-chacon commented on #7383
I had the same issue. If you have some kind of SSO enabled, review the ingestion bot set up.

[2022-11-21 10:13] k-popov commented on #8892
@sureshms As expected upon clicking on table name I see "You do not have the necessary permissions to view this data" for the user with no permissions. So the only issue I see is this "list" of tables which may potentially disclose some sensitive information.

[2022-11-21 12:10] TeddyCr opened #8924 "KPI completness width should be `currentValue/targetValue`"

[2022-11-21 12:28] #8907 closed

[2022-11-21 12:33] ulixius9 opened #8925 "Extra right padding in edit connection"
**Affected module**
Ingestion Framework

**Describe the bug**
Add Connection
![image](https://user-images.githubusercontent.com/39544459/203055968-4f752af3-b1a2-46f7-a413-31dd55df632b.png)

Edit Connection
![image](https://user-images.githubusercontent.com/39544459/203056043-ec4a32ea-449a-40b5-afb1-9b68275b6796.png)

[2022-11-21 12:55] #8311 closed

[2022-11-21 12:55] #8917 closed

[2022-11-21 14:25] #8924 closed

[2022-11-21 14:39] TeddyCr opened #8930 "Update Test Case Result ts to milliseconds"
unstop `test_profiler_workflow` once implemented

[2022-11-21 20:10] harshach opened #8933 "Add fixes to initSeedData from 0.12 upgrade"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Screenshots or steps to reproduce

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version:**
 - OS: [e.g. iOS]
 - Python version:
 - OpenMetadata version: [e.g. 0.8]
 - OpenMetadata Ingestio

[2022-11-21 23:59] trillhaa opened #8935 "Configure Slack notification / Webhooks at team level"
**Is your feature request related to a problem? Please describe.**
Today, slack notifications / webhooks cannot be configured based on the table's ownership. All notifications are sent to a single endpoint URL, irrespective of the table's owner. This means we cannot notify the right owners of any tasks (but only everyone, and then nobody  would read it because they are not targeted).

**Describe t

[2022-11-22 04:54] sureshms commented on #8892
@k-popov building a search filter is quite tricky from the policies. Something that we are working on. Would you be okay to provide in addition to access control, a search filter in a rule to filter the results out?

[2022-11-22 05:00] ShaileshParmar11 opened #8936 "UI: Implement roles and policy for ingestion actions"
![image](https://user-images.githubusercontent.com/71748675/203225723-5ebbac99-4299-45c8-b6f8-6d0398867511.png)

[2022-11-22 05:53] ShaileshParmar11 opened #8937 "UI: Explore page showing Incorrect usage count"
![image](https://user-images.githubusercontent.com/71748675/203235468-b9ac5998-54c6-4eb3-9489-f2eefa106265.png)

it should be:
![image](https://user-images.githubusercontent.com/71748675/203235549-a742ae49-acde-47fd-acf0-7502c0880383.png)

[2022-11-22 06:33] devyani-kaushik commented on #8513
- [ ] Update the label styling to >> color: #6B7280 and font-weight: 500
<img width="1380" alt="Screenshot 2022-11-22 at 11 58 09 AM" src="https://user-images.githubusercontent.com/103238069/203240815-0ac4821d-5450-4856-9a7b-d374ae7a8ee6.png">

- [ ] Use the announcement icon in list for both the places.
<img width="286" alt="Screenshot 2022-11-22 at 11 56 49 AM" src="https://user-images.githubuse

[2022-11-22 06:50] #8933 closed

[2022-11-22 07:42] TeddyCr opened #8941 "Admin can create bot user with existing user names"
How to reproduce it?
Create a bot with the same username as an existing user.

[2022-11-22 09:25] yuqi-sun opened #8944 "PowerBI group not ingested because of limit of top=100"
**Affected module**
Ingestion Framework of PowerBI

**Describe the bug**
If the number of groups in PowerBI are more than 100, some groups, and therefore its dashboards, can't be ingested. This is likely because the API call to GetGroupsAsAdmin requires a `$top` parameter, which is currently set as 100 as of the pre-release 0.13.0.

**To Reproduce**
I have created a new workspace called "Test Open

[2022-11-22 09:38] yuqi-sun opened #8946 "Expand PowerBI lineage"
**Is your feature request related to a problem? Please describe.**
While testing OM 0.13.0 with PowerBI and Snowflake, I found out that lineage between dashboard and dataset is built only when the dataset is contained in the same workspace of the dashboard. If the dashboard uses a dataset contained in a different workspace, the lineage is not built.

**Describe the solution you'd like**
PowerBI al

[2022-11-22 09:49] #8886 closed

[2022-11-22 11:24] ShaileshParmar11 commented on #8513
the description is miss aligned  -> @ShaileshParmar11
![image](https://user-images.githubusercontent.com/71748675/203302203-db6bc345-0010-4af3-a6bf-a9b374131e1c.png)

[2022-11-22 12:23] #8925 closed

[2022-11-22 12:51] #8937 closed

[2022-11-22 13:31] TeddyCr opened #8951 "table API return data with an important lag"
### Context
When querying the OM database, data are returned quite fast (~0.03 seconds) (about 5K rows in the table entity table), though when sending requests through the API we observe important lag (data are returned in about 10 seconds).

After initial investigation the team suspects the lag to be from the following lines https://github.com/open-metadata/OpenMetadata/blob/5a163c739c573198a4a87

[2022-11-22 14:15] #8901 closed

[2022-11-22 15:00] pmbrull commented on #8859
was this related to the UTC timestamp being used? Can we close this?

[2022-11-22 15:11] #8936 closed

[2022-11-22 15:17] pmbrull opened #8955 "Non scheduled runs appear as Queued"
Deploy an Ingestion Pipeline without a schedule (schedule None) and the state will appear as Queued by default

[2022-11-22 15:31] k-popov commented on #8892
Not sure I understand the proposal. Include search filter into rules set for policies? Would it be whitelist or blacklist? The original issue was with "show all" search query.

[2022-11-22 15:37] Sachin-chaurasiya commented on #8859
Yes, closing this.

[2022-11-22 15:37] #8859 closed

[2022-11-22 15:51] nahuelverdugo commented on #8951
This is the distribution of queries when calling the endpoint `/api/v1/tables?limit=1000&fields=name`:

![image](https://user-images.githubusercontent.com/11074908/203359094-1ec88dbf-5bf5-43cc-9b76-d4aec1c608ce.png)

The total amount of time is *8219* ms. I hope it helps to clarify the issue.

[2022-11-22 18:17] #8513 closed

[2022-11-22 20:57] sureshms commented on #8951
@nahuelverdugo what are columns 0, 1, 2, etc? And you are only asking for fields=name?

[2022-11-22 21:04] sureshms commented on #8951
@nahuelverdugo, can you please create an index for toId and toEntity and see if some of these times change?

[2022-11-22 23:42] harshach opened #8958 "Add initialization ordering and remove user/bot initialization from Authorizer"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Screenshots or steps to reproduce

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version:**
 - OS: [e.g. iOS]
 - Python version:
 - OpenMetadata version: [e.g. 0.8]
 - OpenMetadata Ingestio

[2022-11-23 05:48] chenteddybear opened #8961 "Ingestion doesn't retrieve meta description from MSSQL objects including database, table, and column"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?

**Describe the bug**
Getting this warning message "WARNING - Table description error for table"  and ingestion doesn't retrieve any meta description from MSSQL , including database, table, and column

**To Reproduce**
Please see the attached screenshots

**Expected behavior**
OpenMetadata to show meta description of db obj

[2022-11-23 06:14] ulixius9 commented on #8955
@chirag-madlani this was fixed right?

[2022-11-23 06:15] chirag-madlani commented on #8955
It's fixed

[2022-11-23 06:19] ulixius9 commented on #8955
okay, but on latest main I still see queued status

![image](https://user-images.githubusercontent.com/39544459/203483350-2e575883-319d-45c8-ae0f-097bce3e68d9.png)

can your please double check?

[2022-11-23 06:25] pmbrull commented on #8573
Hi apologies @ssandy83 missed the message. We're already on it.

There are a few issues we opened for the community that are marked as `hacktoberfest` or `good-first-issue`. You can find them here https://github.com/open-metadata/OpenMetadata/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-issue%2Chacktoberfest

Thanks

[2022-11-23 06:26] pmbrull commented on #8364
hi @ssandy83 any updates here? Thanks

[2022-11-23 07:48] Sachin-chaurasiya commented on #8075
All things have been taken care of on this ticket, so closing it.

[2022-11-23 07:48] #8075 closed

[2022-11-23 08:54] #8955 closed

[2022-11-23 08:54] #8958 closed

[2022-11-23 09:21] pmbrull commented on #6714
closed in https://github.com/open-metadata/OpenMetadata/pull/7653

[2022-11-23 09:21] #6714 closed

[2022-11-23 09:46] pmbrull commented on #7763
@OnkarVO7 we can try to replicate with the exact same name `'Молоко. ВСД'`. Worst case scenario, let's set the dashboard ID as the name and use the `name` as the displayName

[2022-11-23 09:52] OnkarVO7 commented on #7763
Yes @pmbrull will try with that

[2022-11-23 10:05] aniketkatkar97 opened #8970 "Backend: Error thrown while deleting the created Amundsen service."
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
Backend

**Describe the bug**
A clear and concise description of what the bug is.
While trying to delete a created Amundsen service, an error is thrown
`An exception with message [HTTP 404 Not Found] was thrown while processing request.`

Request URL: `/api/v1/metadataServices/{id}?hardDelete=true&recursive=true`
Response:

[2022-11-23 10:05] nahuelverdugo commented on #8951
They are the time in ms that the query takes, and each value in the row is the number of queries. For example, for the call to `DatabaseDAO.findById` from 2002 queries, 1812 took 1 ms. I did it only with the name field because it is the most straightforward call.

Sure, I will update once I do the test.

[2022-11-23 11:08] ulixius9 opened #8973 "Explore Superset auth SSO"
**Is your feature request related to a problem? Please describe.**
Explore Superset auth SSO

support thread: https://openmetadata.slack.com/archives/C02B6955S4S/p1669110816450539

[2022-11-23 12:06] ssandy83 commented on #8364
Hey @pmbrull
I couldn't get to this yet. I shall be able to have an update by next week

[2022-11-23 13:40] yuqi-sun opened #8977 "Deleted tag still visible in dropdown menu"
**Affected module**
UI

**Describe the bug**
Deleted glossary terms are still visible and clickable in the dropdown menu when adding tags.

**To Reproduce**
1. Create a glossary.
2. Add a new term to the glossary.
3. Delete the glossary, NOT THE TERM.
5. Pick any column and click on button `+ Tags`.
6. On the dropdown menu, it is still visible and clickable the terms of the glossary that was just

[2022-11-23 13:51] pmbrull commented on #8038
hi @alexbassa sorry I am not doing a good job keeping an eye on the comments.

For example, we have a base [status](https://github.com/open-metadata/OpenMetadata/blob/35a87ac09c993be9529d73bc6270b877836c5e32/ingestion/src/metadata/ingestion/api/status.py#L18) class with basic implementation, but then each step (e.g., [sink](https://github.com/open-metadata/OpenMetadata/blob/main/ingestion/src/meta

[2022-11-23 13:55] pmbrull commented on #8086
Thanks for reporting @zxy-zxy, this should be fixed with https://github.com/open-metadata/OpenMetadata/issues/8462. It will be part of 0.13.
Thanks!

[2022-11-23 13:55] #8086 closed

[2022-11-23 14:01] pmbrull commented on #7452
hi @telekoteko sorry for the late response on this. Could you please check if there is any error in the UI directly? Right click > Inspect > Console

[2022-11-23 14:04] pmbrull commented on #7379
Hi folks, we'll implement this for 0.13.1. Thanks

[2022-11-23 14:14] telekoteko commented on #7452
Hello. I checked and there are no errors in the console.
Only the pipelines from the airflow installed by OpenMetaData are listed.

my-data screen (12):

![image](https://user-images.githubusercontent.com/114503604/203568433-e5aa816c-f306-4c92-bc29-0b381d5abcae.png)

Clicked and...

explore screen (3):

![image](https://user-images.githubusercontent.com/114503604/203568488-d1d6de71-5ed7-440a-9bd5-

[2022-11-23 14:15] pmbrull commented on #7841
[code]

[2022-11-23 14:16] pmbrull commented on #6907
as only the ML is pending, I'll clean up this ticket. ML has not that high priority. Thanks

[2022-11-23 14:16] #6907 closed

[2022-11-23 14:20] nahuelverdugo commented on #7629
Hi @larspettermadsstuen, could you confirm if it is still happening in the latest version of OM?

[2022-11-23 14:23] chethan-bs commented on #7468
@nahuelverdugo - also we need to look on ingestions logs which is printing as clear text.  connections can be avoid to view only for admins but ingestions logs is viewing for everyone.

[2022-11-23 14:26] TeddyCr commented on #7743
@pmbrull my bad, I missed that message. Basically, right if I well remember we support integrating test suites defined in `dbt_project.yaml` but could not in `schema.yaml` file.

[2022-11-23 14:31] pmbrull commented on #5175
not sure if it's worth the rework atm. Closing for now

[2022-11-23 14:31] #5175 closed

[2022-11-23 14:35] pmbrull commented on #5448
hi @canopenerda, you can follow this guide https://www.youtube.com/watch?v=ZvA4wuvINFA&ab_channel=OpenMetadata to implement the connector if needed.

We have no exact ETA on when this will land. Currently any external catalogue (glue, hive) containing iceberg tables can be used for the metadata ingestion.

[2022-11-23 14:37] pmbrull commented on #1075
hi @show981111 @sisir-umich , any updates on this? Let us know if you have any questions. Thanks

[2022-11-23 14:39] pmbrull commented on #1078
fixed in https://github.com/open-metadata/OpenMetadata/pull/8435

[2022-11-23 14:39] #1078 closed

[2022-11-23 14:44] pmbrull opened #8981 "Move Connection Options and Connection Args to main properties"
There are usual connection options and arguments that are required for some services, for example Redshift SSL: https://docs.open-metadata.org/connectors/database/redshift or Kafka SASL.

This should be part of the main connection information

[2022-11-23 14:53] pmbrull commented on #7108
cc @harshach

[2022-11-23 14:54] pmbrull commented on #6663
Hi @lailapatel , quicksight has already been implemented in 0.13

[2022-11-23 14:56] sisir-umich commented on #1075
Hi @pmbrull , we actually selected a different open source project for our assignment - apologies for not unassigning myself sooner

[2022-11-23 15:09] pmbrull commented on #1077
hi @parthiv11 any updates here? let us know if you need any help

[2022-11-23 15:10] nahuelverdugo commented on #8951
@sureshms I have tested it.
The index `to_index` is used instead of the new one.
![image](https://user-images.githubusercontent.com/11074908/203580745-f960e9c7-73c5-4220-8203-e67eeab1eab4.png)
Anyway, after deleting it and tried with:
[code]
The request time is the same.

[2022-11-23 16:05] #8977 closed

[2022-11-23 17:17] ShaileshParmar11 opened #8982 "Cypress: Add cypress test for collect end point"

[2022-11-23 17:20] ShaileshParmar11 opened #8983 "UI: Remove tailwind dependancy from OM-UI"

[2022-11-23 18:05] sureshms opened #8984 "Remove support for creating a bot when a user is created"
Currently, UserResource creates a Bot if `user.isBot` is set to true. That support is being removed. The expected steps for creating a bot are:
1. Create a user with `isBot` flag set to true
2. Create a bot with `botUser` set to the above user

[2022-11-23 20:17] pjain-branch opened #8988 "Lineage for Dashboard Service"
**Affected module**
Ingestion framework for Dashboards ( Looker and Tableau ) - specially lineage

**Describe the bug**
I am ingesting only one dashboard in these logs to make it easier to go through logs. Logs are attached in this slack thread https://openmetadata.slack.com/archives/C02B6955S4S/p1668715434924659. Config used
[code]

**To Reproduce**

<img width="1640" alt="Screen Shot 2022-11-18

[2022-11-23 22:07] hansencc opened #8991 "Index fully qualified table name for search"
**Is your feature request related to a problem? Please describe.**
I often want to search for tables based on a combination of database and table name, but doing so yields no results since they are indexed separately.

**Describe the solution you'd like**
Index the fully qualified table name.

**Describe alternatives you've considered**
An alternative is to tell people to search for the table only

[2022-11-23 23:37] harshach commented on #8991
<img width="1255" alt="image" src="https://user-images.githubusercontent.com/38649/203663877-a46e5214-d121-4667-bf5a-6e46e9e397ff.png">
It works today but need to include service_name as part of FQN

[2022-11-24 05:37] harshach opened #8993 "Add Datainsight ingestion option available even after a pipeline already running"
**Affected module**
UI

**Describe the bug**
<img width="1508" alt="image" src="https://user-images.githubusercontent.com/38649/203702529-72cdb293-db4e-4815-9f0e-4520a644bd3f.png">

having that button option allow users to click and we get a bad error

<img width="1502" alt="image" src="https://user-images.githubusercontent.com/38649/203702598-95a7e380-9363-4ca2-882c-bdfceb6dad68.png">

**To Repro

[2022-11-24 05:41] harshach opened #8994 "UI: Test Suites page should have a add button to create a test suite and also create a test from the test suite listing page"
**Affected module**
UI

**Describe the bug**
The quality page looks like this
<img width="1503" alt="image" src="https://user-images.githubusercontent.com/38649/203703022-b0fc5c8a-edfc-4083-8f8b-1b314f36cd49.png">
As it stands, this is very confusing as there are no operations that users can do.
We should add a button to create a test suite, and once they are in the test suite, they should be able

[2022-11-24 05:43] harshach opened #8995 "Change any references to Kpi or kpi should be KPI"
**Affected module**
UI

**Describe the bug**
<img width="512" alt="image" src="https://user-images.githubusercontent.com/38649/203703390-575124c3-5bff-45ef-bfe6-e6df1d7d887f.png">

**To Reproduce**

Screenshots or steps to reproduce

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version:**
 - OS: [e.g. iOS]
 - Python version:
 - OpenMetadata version: [e.g

[2022-11-24 05:46] harshach opened #8996 "UI: Improve the App Analytics and Data Assets tab"
**Affected module**
UI

**Describe the bug**
The tab here is almost non-visible to new users. I usually scroll around without even noticing that page is there.

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/38649/203703633-de380f57-b5c1-40b6-b4de-a910786ee288.png">

@devyani-kaushik we should create a left-hand menu and add Reports underneath that we should have
<img

[2022-11-24 05:57] #3368 closed

[2022-11-24 05:58] #5810 closed

[2022-11-24 06:00] harshach commented on #7057
will track it under #7058

[2022-11-24 06:00] #7057 closed

[2022-11-24 06:01] harshach commented on #2057
@chirag-madlani this is done right. closing it.

[2022-11-24 06:01] #2057 closed

[2022-11-24 06:01] harshach commented on #2660
@ulixius9 lets add details to this ticket if we need to add any changes to backend

[2022-11-24 06:02] harshach commented on #3773
@ayush-shah @pmbrull is this still an issue or can we close it

[2022-11-24 06:03] harshach commented on #3589
@pmbrull lets assign this and get it done for 0.13.1

[2022-11-24 06:10] pmbrull commented on #3773
pytests is trying to import test cases from false test classes just by name. Not a big issue, but we should clean it up

[2022-11-24 06:14] harshach commented on #6811
API supports it but we need to escape the double quotes
http://localhost:8585/api/v1/search/query?q=\"raw_customer\"&index=table_search_index
We should only do it if the user passed string has those double quotes

[2022-11-24 06:16] harshach commented on #2363
@pmbrull closing this

[2022-11-24 06:16] #2363 closed

[2022-11-24 06:19] harshach commented on #4179
This is fixed by allowing any user entity to update the description but behave the same way where if there is description they cannot override the existing description.
Please re-open if this is not sufficient for your use cases

[2022-11-24 06:19] #4179 closed

[2022-11-24 06:20] harshach commented on #5282
@ayush-shah this is handled right?

[2022-11-24 06:24] #4790 closed

[2022-11-24 06:28] pmbrull commented on #8501
@ulixius9 anything pending here?

[2022-11-24 06:30] #8165 closed

[2022-11-24 06:30] pmbrull commented on #8191
Hi @Stan-Tastic, thanks for opening the issue. We had a chat with Docker folks, and we might not be pushing this for now.

I'd still recommend building the images locally and push them in your internal org's registry. Everything that we publish is available in the repo.

Let us know if you have any questions.

Thanks

[2022-11-24 06:30] #8191 closed

[2022-11-24 06:31] harshach commented on #8155
@pmbrull can you review the PR and close this

[2022-11-24 06:32] pmbrull commented on #8192
This is the dockerfile for the server https://github.com/open-metadata/OpenMetadata/blob/main/docker/metadata/Dockerfile

The image is based on alpine:3.15 not ubuntu. Our scans did not find any issues on the server image.

Thanks

[2022-11-24 06:32] #8192 closed

[2022-11-24 06:33] harshach commented on #8070
@OnkarVO7 lets take this up for 0.13.1

[2022-11-24 06:33] harshach commented on #8007
@ulixius9 lets close this out

[2022-11-24 06:34] #7967 closed

[2022-11-24 06:35] #7912 closed

[2022-11-24 06:35] harshach commented on #7518
@akash-jain-10 lets prioritize this and close it out

[2022-11-24 06:36] pmbrull commented on #8099
hi @07Himank any updates here? Let us know if you need any help

[2022-11-24 06:36] pmbrull commented on #6340
hi @deweybat, any updates on this? Let us know if you need any help. Thanks

[2022-11-24 06:36] harshach commented on #6760
@TeddyCr lets handle it ourselves? cc @ayush-shah

[2022-11-24 06:37] pmbrull commented on #7729
hi @techrajdeep, any updates on this? Let us know if you need any help. Thanks

[2022-11-24 06:37] harshach commented on #7729
@amymareemc let us know if you still interested in working on it. We are looking to ship this in our next minor release
cc @TeddyCr @ayush-shah
cc @devyani-kaushik @ShaileshParmar11 for the UI

[2022-11-24 06:39] pmbrull commented on #7762
hi @geoHeil we are currently working on getting this done for Argo here: https://github.com/open-metadata/OpenMetadata/pull/8595

This implementation should be something similar

[2022-11-24 06:40] pmbrull commented on #7858
@rahulsurwade any updates here? Let us know if you need any help

[2022-11-24 06:42] #6249 closed

[2022-11-24 06:45] harshach commented on #8555
@Sachin-chaurasiya is this a issue?

[2022-11-24 06:52] harshach commented on #8096
@devyani-kaushik we need to work on this for 0.13.1. a query can be 100s of lines long and the way we are showing doesn't look right

[2022-11-24 06:54] #8630 closed

[2022-11-24 06:54] ulixius9 commented on #8501
Nope

[2022-11-24 06:54] #8501 closed

[2022-11-24 06:55] harshach commented on #4868
Lets handle this for 0.13.1

[2022-11-24 06:55] harshach commented on #5001
@chirag-madlani what is the progress so far?

[2022-11-24 06:57] harshach commented on #8089
already tracked here https://github.com/open-metadata/OpenMetadata/issues/7012

[2022-11-24 06:57] #8089 closed

[2022-11-24 09:02] pmbrull commented on #8569
hi @erdos2n I'll be closing the issue. Using the correct package names should get rid of it. If you have any other issues, do let us know. Thanks

[2022-11-24 09:02] #8569 closed

[2022-11-24 12:07] deweybat commented on #6340
Hi!
I took an initial look at this, and I have some questions; Im away from my
computer at the moment, and I should be back Sunday

On Thu, Nov 24, 2022 at 1:36 AM Pere Miquel Brull ***@***.***>
wrote:

[2022-11-24 15:09] pmbrull commented on #6340
Thanks for the update. Please feel free to reach out on slack https://slack.open-metadata.org/, we'll be able to give you some guidance in there. Thanks

[2022-11-24 19:08] #1778 closed

[2022-11-24 19:10] harshach commented on #1308
@NiharDoshi99 lets finish this off for 0.13.1. cc @pmbrull

[2022-11-25 05:03] #7401 closed

[2022-11-25 05:09] Sachin-chaurasiya commented on #8475
Related to #8096

[2022-11-25 05:10] chirag-madlani opened #9001 "UI/UX improvements"
- [x] #8170 -- @chirag-madlani
- [ ] #9002
- [x] #9003
- [ ] #9005
- [ ] #9020
- [ ] #9021

[2022-11-25 05:11] chirag-madlani opened #9002 "UI - updated loading experience for table / page seamlessly"
Use skeleton loading to show individual loads and makes it clear to user that what we are expecting to be load

[2022-11-25 05:12] chirag-madlani opened #9003 "update explore page filters to same as JIRA UI / UX"

[2022-11-25 05:14] OnkarVO7 commented on #8070
I'll pick it up @harshach

[2022-11-25 05:28] chirag-madlani commented on #8170
UI mocks: https://www.figma.com/proto/VaeQD2fIhQVDCvqBHyEv7J/Open-Metadata?page-id=6939%3A3161&node-id=16374%3A28998&viewport=-29546%2C-5522%2C0.56&scaling=scale-down&starting-point-node-id=16374%3A28998

[2022-11-25 05:29] Sachin-chaurasiya commented on #8096
For inspiration

https://uploads-ssl.webflow.com/6087db3cbaa248cd720ccdc5/6228c32bfe5d98946ea96c47_Leverage%20work%20done%20by%20your%20peers.png

[2022-11-25 05:29] Sachin-chaurasiya commented on #8270
duplicate of #8096

[2022-11-25 05:29] #8270 closed

[2022-11-25 05:47] Sachin-chaurasiya commented on #8551
Related to #6981

[2022-11-25 05:49] pmbrull commented on #7447
Hi @TeddyCr, thanks for the writeup. Just a minor comment (as always, open for discussion):

- What is the goal of having properties such as `isInsert`, `isUpdate`...? Could we handle the query type in an enum? (INSERT, UPDATE, DELETE).

The rest looks great, looking forward to it

[2022-11-25 05:52] pmbrull commented on #8551
Now that you ping this, the doc might be useful https://docs.open-metadata.org/connectors/ingestion/workflows/metadata/filter-patterns/database, we have a bunch of examples we can add. Thanks

[2022-11-25 05:53] TeddyCr commented on #7447
Makes a lot of sense. I like it better actually.

[2022-11-25 05:53] pmbrull commented on #8944
@OnkarVO7 we'll need to add pagination on the API to make sure we're not missing anything. Thanks!

[2022-11-25 06:03] OnkarVO7 commented on #8944
@pmbrull yes will add pagination here

[2022-11-25 06:26] Sachin-chaurasiya opened #9005 "Eliminate the carousel dependency and use ANTD carousel"
Antd provides us with the carousel component so we should remove the carousel deps and use the antd carousel.
https://ant.design/components/carousel

[2022-11-25 07:50] pmbrull opened #9008 "Killing an IngestionPipeline does not update the status"
We might need to add a callback or something in the managed APIs to not lose the state on the kill. Review what happens when pipelines fail

[2022-11-25 08:02] nahuelverdugo commented on #7452
Hi @telekoteko, which OpenMetadata version are you using? On which operating system are you running OM?

[2022-11-25 08:06] TeddyCr opened #9009 "Add timezone support for profiler partition"
## Context
Current implementation of the profiler partition default to UTC to determine the logical date/datetime to run the partition against. This might create limitation as not all datetime field use UTC.

## Solution
Allow users to pick a timezone.

[2022-11-25 09:30] geoHeil opened #9011 "DBT parser support macro-bsed DBT projects for column-level lineage"
https://openmetadata.slack.com/archives/C02B6955S4S/p1669367705377959?thread_ts=1669221137.283589&cid=C02B6955S4S

Neither compiled_sql or compiled_code is present only macro_sql

[2022-11-25 09:30] geoHeil commented on #8486
https://github.com/open-metadata/OpenMetadata/issues/9011

[2022-11-25 12:18] #6811 closed

[2022-11-25 13:52] #8995 closed

[2022-11-25 15:15] Sachin-chaurasiya commented on #8996
- [ ] Add check boxes for multiselect dropdown for better UX
- [ ]
<img width="504" alt="image" src="https://user-images.githubusercontent.com/59080942/204014031-7d8f2665-5f77-4d04-bfea-bcb08d2290db.png">

[2022-11-25 15:56] harshach commented on #9011
@geoHeil what version of DBT are you using?

[2022-11-26 05:47] chirag-madlani opened #9017 "UI - description is not rendered on explore page feed card"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
UI, Safari browser

**Describe the bug**
A clear and concise description of what the bug is.

Safari:
![image](https://user-images.githubusercontent.com/12962843/204074242-615e6627-1c54-4380-938b-45603d8b61d5.png)

Brave:
![image](https://user-images.githubusercontent.com/12962843/204074255-50df9f28-b41c-4543-bf42-004611a37

[2022-11-27 20:39] geoHeil opened #9019 "Support parsing of postgres type daterange"
The basic metadata import of a postgres database imports `daterange` type as `varchar(1)`

[2022-11-28 04:47] harshach commented on #4578
@TeddyCr lets see if we need to cover any other metrics as part of this ticket if not lets close it out.
Not sure if we can derive MAUs (aggregated number) with existing metrics

[2022-11-28 04:48] harshach commented on #4765
@pmbrull anything to consider for 0.13.1 if not lets move it to 1.0

[2022-11-28 04:49] harshach commented on #7468
@nahuelverdugo can we handle this for 0.13.1?

[2022-11-28 04:50] harshach commented on #8858
@pmbrull can you take this up? and prioritize for this week

[2022-11-28 04:54] harshach commented on #7448
@TeddyCr can we do this for 0.13.1? cc @ayush-shah

[2022-11-28 05:01] harshach commented on #7452
@telekoteko did you try running the full index go to settings -> elasticsearch -> re-index all and choose yes for "Re create indexes"

[2022-11-28 05:01] harshach commented on #7995
@ShaileshParmar11 @ayush-shah we need to add an option to allow users to create a % of rows or select just a no.of rows. Lets fix this for 0.13.1

[2022-11-28 05:03] #7110 closed

[2022-11-28 05:04] harshach commented on #7512
Unable to reproduce closing this out

[2022-11-28 05:04] #7512 closed

[2022-11-28 05:04] harshach commented on #4648
@nahuelverdugo pick up for 0.13.1 or 1.0?

[2022-11-28 05:10] harshach commented on #5522
@TeddyCr can we close this out for 0.13.1?

[2022-11-28 05:14] harshach commented on #6994
@pmbrull what are your thoughts here? Users need to use CreateTableRequest and use appropriate method to update the table such as PUT in this case it needs to have all the available fields if not use PATCH.
not sure if this is a valid request here if not lets close this out

[2022-11-28 05:14] harshach commented on #4565
@pmbrull
@TeddyCr lets plan this for 1.0

[2022-11-28 05:17] harshach commented on #5362
@chirag-madlani do we have test for this?

[2022-11-28 05:21] harshach commented on #4368
@pmbrull @TeddyCr keeping it for 0.13.1 , move it 1.0 if we can't get it done

[2022-11-28 05:21] harshach commented on #8358
@ayush-shah lets handle this in 0.13.1

[2022-11-28 05:22] #5358 closed

[2022-11-28 05:24] #7611 closed

[2022-11-28 05:28] harshach commented on #5098
we will be doing import only for 0.13.1 release

[2022-11-28 05:29] harshach commented on #6203
@nahuelverdugo shall we skip the erroring out just like MERGE INTO queries and close this out?

[2022-11-28 05:35] chirag-madlani commented on #5362
@harshach Not yet, Will add it by this week
cc: @ShaileshParmar11

[2022-11-28 05:39] harshach opened #9020 "UI: Settings sidebar should always visiable"
**Affected module**
Settings side bar only available on the landing when the user clicks add or browse through to another page this side navigation disappears

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Screenshots or steps to reproduce

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version:**
 - OS: [e.g.

[2022-11-28 05:40] harshach commented on #4786
@Sachin-chaurasiya @chirag-madlani lets figure this out and fix it for 0.13.1

[2022-11-28 05:41] #6943 closed

[2022-11-28 05:42] pmbrull commented on #6994
this will also help in a couple of calls in the code as well to update profiler specific props. Just need the time to add the syntactic sugar for the PUT

[2022-11-28 05:43] pmbrull commented on #5820
done, closing it

[2022-11-28 05:43] #5820 closed

[2022-11-28 05:43] #4578 closed

[2022-11-28 05:44] pmbrull commented on #4765
let's call it 1.0

[2022-11-28 05:46] harshach commented on #5646
@Sachin-chaurasiya can we close this out. For tests you can create a new tag and tag categories and test it with that? or invoke the elasticsearch re-index all

[2022-11-28 05:47] pmbrull commented on #4868
hi @NiharDoshi99 the development here should be done. Pending topics are:
- test if anything's missing
- docs

Thanks

[2022-11-28 05:54] harshach commented on #8480
@chirag-madlani one option is to use the export styling here and use ES for listing and searches. Will be faster to add.

[2022-11-28 05:55] harshach commented on #8717
@chirag-madlani @ulixius9 @pmbrull planing for 0.13.1? or move to 1.0

[2022-11-28 06:04] chirag-madlani commented on #8480
@harshach Let me verify and update you on this

[2022-11-28 06:37] aniketkatkar97 commented on #8555
@harshach, while checking this in detail with the help of @chirag-madlani, It turned out to be a UI bug where the order of the displayed tags was different from the data causing the issue. I will take care of this bug.

[2022-11-28 07:00] geoHeil commented on #9011
1.3.1

[2022-11-28 07:00] TeddyCr commented on #7448
@harshach yes, this is plan to be shipped with #7447

[2022-11-28 07:03] TeddyCr commented on #8358
@harshach I believed we said we won't fix this has it requires some very intricate logic for an edge case

[2022-11-28 07:27] pmbrull commented on #8717
moving it out, might take a bit of thinking

[2022-11-28 07:30] pmbrull commented on #8885
@nahuelverdugo how would you differentiate between "expected" vs. "not expected" returns?

[2022-11-28 07:35] pmbrull commented on #7709
will prep some docs around this

[2022-11-28 07:35] ShaileshParmar11 opened #9021 "Cypress: Advance Search coverage with all filters"
Add cypress coverage for advanced search

[2022-11-28 07:40] nahuelverdugo commented on #8885
@pmbrull, I would add an extra parameter to not raise an exception or mute the logging when doing the call to the method.

[2022-11-28 07:46] nahuelverdugo commented on #4648
I will take this for `0.13.1`.

[2022-11-28 07:49] nahuelverdugo commented on #6203
I would use the same approach we have for `MERGE INTO` and address this for `0.13.1`.

[2022-11-28 08:05] vdl-vciriza commented on #8284
Same issue here. We use self-signed certificates in our on-prem Tableau Servers. The certificate validation phase fails

ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1129)

We have encountered the same issue when calling Tableau APIs using the Python Client (TSC). We simply got through by adding in th

[2022-11-28 08:51] revit13 opened #9022 "Configure server with TLS when deploying on Kubernetes"
I would like to enable OM server with SSL. To do that I need to configure [conf/openmetadata.yaml](https://docs.open-metadata.org/deployment/security/enable-ssl/openmetadata-server#configure-openmetadatayaml) following the instructions [in the site](http://docs.open-metadata.org/deployment/security/enable-ssl/openmetadata-server#enable-ssl-at-the-openmetadata-server). My server is deployed in Kube

[2022-11-28 10:45] OnkarVO7 opened #9024 "DBT Workflow"
**Feature**
Create a workflow for DBT which will handle all the DBT related metadata and remove DBT from the metadata ingestion workflow.

**DBT workflow will include the following:**

- Showing DBT queries on UI
- DBT node/table lineage
- DBT column level lineage (only possible if query is parsable by lineage parser)
- DBT Tests and test results
- Adding owner/team from DBT into OpenMetadata
- In

[2022-11-28 11:40] TeddyCr opened #9025 "Add delete logic for webAnalytics Events"
## Context
Web Analytics are ingested each time a user interacts with a web page. To limit the accumulation of events we need to delete events older than `n` days

[2022-11-28 11:46] nahuelverdugo opened #9026 "Ingestion CLI fails because of `click` dependency"
**Affected module**
Ingestion Framework

**Describe the bug**
We have removed `click` from dependencies, but we left or added an import in the `docker.py` file.

**To Reproduce**
- Install the latest `metdata-ingestion` with `pip`
- Run `metadata --version` or `python -m metadata --version`
- Error `ModuleNotFoundError: No module named 'click'` is raised.

**Expected behavior**
Show the version of

[2022-11-28 11:55] TeddyCr commented on #7497
@OnkarVO7 can we close this?

[2022-11-28 11:55] #7428 closed

[2022-11-28 12:18] pmbrull commented on #7690
related to https://github.com/open-metadata/OpenMetadata/issues/7635

[2022-11-28 12:18] pmbrull commented on #7635
related to https://github.com/open-metadata/OpenMetadata/issues/7690

[2022-11-28 12:20] #6163 closed

[2022-11-28 12:24] pmbrull commented on #8031
@VolodymyrSa can you please share some more details about the infra? (memory of the containers etc) in case this is something being throttled by the machines itself. Thanks

[2022-11-28 13:40] ulixius9 commented on #8489
`name` of ingestion pipeline can not be changed and editing the `displayName` might create confusion between pipeline name visible on UI and DAG name available on airflow will be different so it's better if we disable editing the name!

[2022-11-28 14:00] dfdf opened #9029 "Unable to set AWS Config for kinesis connector"
**Affected module**
Ingestion Framework

**Describe the bug**
We are unable to create an AWS Connection when trying to create a new kinesis service.
There is no available option at the Connection Details screen, which causes an error when trying to deploy the ingestion job to airflow.

**To Reproduce**
Following the process to create a connection for kinesis:

Settings -> Messaging -> Add New Serv

[2022-11-28 14:24] dN0Mad commented on #9029
Same issue applies for ML Model services (e.g. Sagemaker) and Dashboard services (e.g. Quicksight):

![image](https://user-images.githubusercontent.com/87071419/204300596-5f9515a0-3683-4f5e-9e59-20ce57570c7c.png)

**Version**:
- OS: [e.g. iOS]. Ubuntu 22.04.1 LTS
- Python version: Default version from openmetadata docker
-OpenMetadata version: [e.g. 0.8] 0.13
- OpenMetadata Ingestion package versi

[2022-11-28 14:43] geoHeil opened #9031 "sync tier from DBT to OM"
https://openmetadata.slack.com/archives/C02B6955S4S/p1669581800070729

[code]

Please add support to sync model_maturity to the OM terms of maturity. Perhaps bronze/silver/gold is okay. But I think OM has finer-grained terms. Perhaps these could also be fine.

[2022-11-28 14:54] pmbrull commented on #7709
hi @nathancCG, please find the docs here https://docs.open-metadata.org/connectors/ingestion/run-connectors-in-airflow on how to run the connectors from a custom Airflow using a Docker Operator. This way you won't need to install any requirements on the Airflow host.

Same thing applies for MWAA https://docs.open-metadata.org/connectors/ingestion/run-connectors-from-mwaa.

Thanks

[2022-11-28 14:54] #7709 closed

[2022-11-28 14:55] pmbrull commented on #7709
Airflow is just one of the possible ways of running the connectors, so we don't want to restrict ourselves to their constraints

[2022-11-28 15:02] ayush-shah commented on #7278
Profiler failed, Ingestion is still in the running state.

![Image](https://user-images.githubusercontent.com/40225091/204309867-d07b60ea-f224-492b-9579-c60e9f98b1f7.png)

[2022-11-28 15:04] ayush-shah commented on #7278
Logs for ingestion pipeline

        return self.python_callable(*self.op_args, **self.op_kwargs)
      File "/home/airflow/.local/lib/python3.9/site-packages/openmetadata_managed_apis/workflows/ingestion/common.py", line 203, in metadata_ingestion_workflow
        workflow = Workflow.create(config)
      File "/home/airflow/.local/lib/python3.9/site-packages/metadata/ingestion/api/workflow.py", l

[2022-11-28 15:37] hansencc commented on #8991
Great! Eventually it would be preference to not have to include the service name, since that can be very long to type.

[2022-11-28 18:18] harshach commented on #6404
@akash-jain-10 @ulixius9 is this resolved?

[2022-11-28 18:18] harshach commented on #6343
@pmbrull @akash-jain-10 anything remaining here?

[2022-11-28 18:19] harshach commented on #7528
@ulixius9 @OnkarVO7 can we close these tickets?

[2022-11-28 18:53] mohityadav766 commented on #8721
Complete

[2022-11-28 18:53] #8721 closed

[2022-11-28 18:58] harshach opened #9037 "Code styling, rename Kpi -> KPI everywhere."
**Affected module**
backend, UI

**Describe the bug**
For abbreviations such as KPI or SMTP we should use the capital letters not do CamelCase.

**To Reproduce**

Screenshots or steps to reproduce

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version:**
 - OS: [e.g. iOS]
 - Python version:
 - OpenMetadata version: [e.g. 0.8]
 - OpenMetadata Ingestion pac

[2022-11-28 19:23] harshach commented on #8171
@abcabhishek are you actively passing columnProfile as None or not passing the field? Given its optional field, you don't need to pass that. Which case are you getting NPE?

[2022-11-28 19:37] harshach commented on #8171
This works in my tests
<img width="931" alt="image" src="https://user-images.githubusercontent.com/38649/204364846-dac2a767-0d1c-43ab-83a9-6c3c17282b69.png">
Added a unit test here https://github.com/open-metadata/OpenMetadata/pull/9038

[2022-11-28 20:17] harshach commented on #8970
@aniketkatkar97, you are sending an API request to http://localhost:8585/api/v1/metadataServices/d7c26a76-47de-4e56-ac65-984ef0844de4?hardDelete=true&recursive=true
it should be
http://localhost:8585/**api/v1/services/metadataServices**/d7c26a76-47de-4e56-ac65-984ef0844de4?hardDelete=true&recursive=true

[2022-11-28 20:18] harshach commented on #8970
<img width="950" alt="image" src="https://user-images.githubusercontent.com/38649/204372746-226bf360-2b96-4dd4-9712-e4f4ffb9a441.png">
API works fine

[2022-11-28 20:23] harshach commented on #8970
why are we highlighting these as required
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/38649/204372918-c46a7c77-6c62-45da-8373-3123f3436d0b.png">
when there are default values already cc @chirag-madlani

added required fields here @ulixius9 , do we need model class required?
https://github.com/open-metadata/OpenMetadata/pull/9039

[2022-11-28 20:28] harshach commented on #7173
@chirag-madlani same as before if we use search API we can handle this

[2022-11-28 20:56] harshach opened #9040 "Remove fields such as tableQueries, tableProfile, tests, sample data as part of table fields"
**Feature**
As part of table API, we are adding a lot of fields which can result in an unnecessary penalty on DB.
UI currently makes one big call to get all the data, which can result in heavy load times on the popular tables.
We already have extended APIs to get these additional fields. As part of this refactor we will remove unnecessary fields that can be retrieved from APIs

**Describe the task

[2022-11-28 20:57] harshach commented on #9040
cc @chirag-madlani @Sachin-chaurasiya this will impact the UI

[2022-11-29 02:13] cryptopalxyz opened #9042 ""query" is being indexed causing huge payload returned"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
UI and backend

**Describe the bug**
A clear and concise description of what the bug is.

It seems the "query" is in the payload and it is a lot and quite big.
after upgrading to 0.13. we are facing this error "An exception with message [entity content is too long [110363686] for the configured buffer limit [104857600]] was

[2022-11-29 03:53] ulixius9 commented on #8970
@harshach I believe we are not using the modelClass, I'll remove it and push changes to your pr after testing 🙏

[2022-11-29 03:57] ulixius9 commented on #6404
@harshach yes this issue is resolved as we have moved to [python-oracledb](https://oracle.github.io/python-oracledb/) library which doesn't require configuring oracle client libraries!

[2022-11-29 03:57] #6404 closed

[2022-11-29 04:50] OnkarVO7 commented on #7528
@harshach will test it once before closing

[2022-11-29 05:09] akash-jain-10 commented on #6343
Hello @harshach . This is fixed with 0.11.5 Release. We can mark this as closed.

[2022-11-29 05:09] #6343 closed

[2022-11-29 06:37] pmbrull opened #9044 "Send pipeline status metric to Prometheus"
create a new eventMonitor for prometheus

[2022-11-29 07:17] #8982 closed

[2022-11-29 07:18] chirag-madlani commented on #7880
Hi @cristiancalugaru we will be tracking it in #7839 and tentatively aiming it for `1.0.0`

[2022-11-29 07:18] #7880 closed

[2022-11-29 07:24] #9042 closed

[2022-11-29 07:29] chirag-madlani opened #9045 "UI - trim name if it's used and identifier in the URL"
**Affected module**
Does it impact the UI, backend or Ingestion Framework?
UI

**Describe the bug**
A clear and concise description of what the bug is.

- If a user creates a entity / team / user name with trailing space, It will be difficult to reach out to it via URL
- We should trim such name before sending it to Backend

**To Reproduce**

Screenshots or steps to reproduce

If we do refresh aft

[2022-11-29 07:31] chirag-madlani commented on #8170
Breadcrumbs for n level is not working properly should be fixed with new design changes

[2022-11-29 07:58] nahuelverdugo opened #9046 "Dagster fails when API returns not expected response"
**Affected module**
Ingestion Framework

**Describe the bug**

When ingesting with Dagster, it iterates on the object of the following dictionary `runs["solidHandle"]["stepStats"]["nodes"]` in this [line](https://github.com/open-metadata/OpenMetadata/blob/main/ingestion/src/metadata/ingestion/source/pipeline/dagster.py#L215).

From Dagster [repo](https://github.com/dagster-io/dagster/blob/master/j

[2022-11-29 08:31] #8489 closed

[2022-11-29 10:02] #9026 closed

[2022-11-29 10:52] #7924 closed

[2022-11-29 12:00] #6760 closed

[2022-11-29 12:43] hertznsk commented on #7383
I encountered this error in version 0.13.0. I use SSO (Keycloak). Ingestion-bot settings are correct.  It works correctly on version 0.12.3.

[2022-11-29 14:57] eeshan-deshpande opened #9058 "Arithmetic overflow error while running profiler for MSSQL"
**Affected module**
/OpenMetadata/tree/main/ingestion/src/metadata/utils)/sql_queries.py

**Describe the bug**
We are getting Error "Arithmetic overflow error converting expression to data type int." for MSSQL profiling.
In statement MSSQL_SQL_STATEMENT  "DATEADD(MS, s.total_elapsed_time, s.last_execution_time) end_time," is the line of code for this cause. This happening in case the s.total_elaps

[2022-11-29 15:33] clark94 commented on #7486
I am facing the same issue, Could Someone Help me?

[2022-11-29 15:39] mohityadav766 opened #9059 "Alerts and Notifications"
**Is your feature request related to a problem? Please describe.**
Currently, OM supports different endpoint receivers like Webhook, Email etc.
We are creating webhooks, which publish, all filtered events to specific endpoints, this presents the following problems2.
 -- No control over which events get published, currently a webhook configured will push all events to an endpoint, even the changes

[2022-11-29 15:54] pmbrull commented on #4839
@harshach just tried to run the `db2` plugin installation with their latest version `0.3.8` and still getting an arch error on M1. Same error as discussed here https://github.com/ibmdb/python-ibmdb/issues/708

What we're currently doing is not adding db2 by default when installing `all`. We can update this after the lib has updated their builds.

@akash-jain-10 not sure if there's any way to ship

[2022-11-29 16:23] pmbrull opened #9060 "Prep Ingestion Pipeline JSON update tool"
to handle the breaking changes we added in 0.13.0.

E.g.,

[code]

If any other change comes for 0.13.1, add that as well and update the docs.

[2022-11-29 16:33] pmbrull commented on #7486
please, check the docs on the PR. It will help you update your quickstart deployment. running `metadata docker --clean` will clean up your test local environment and use the new release compose file. More info on the docs. Thanks

[2022-11-29 16:38] pmbrull commented on #2957
for this we can use https://pypi.org/project/qlik-sdk/#description

[2022-11-29 17:08] pmbrull opened #9064 "Storage Service connector"
Thanks to everyone participating in the discussion https://github.com/open-metadata/OpenMetadata/discussions/8124.

Let's start writing down the initial ideas. Note that this is a WIP, and we'll keep curating the points as the design discussions happen.

## Context

What is happening today:

- Ingesting individual files as separated `Table`s. This does not properly represent partitioned data. We a

[2022-11-30 00:05] harshach commented on #9064
- We should have an implementation that is data lake as it currently does by treating all files as Tables and another implementation of StorageServices that treats them as files

[2022-11-30 04:51] #7486 closed

[2022-11-30 05:18] Sachin-chaurasiya commented on #8475
Tracking this on #8096

[2022-11-30 05:18] #8475 closed

[2022-11-30 05:23] harshach opened #9068 "Query as a separate entity and adding snapshot of metrics at table level"
**Feature**

### Separation of Query as another entity

Currently we are using entity_extension table to store all of the queries. Also we are storing the queries as one big payload.
One of the reasons to do this is, while adding new query against a table we check if the same query added before. The way we are doing it is , taking a checksum of the query and storing it in the one big payload when

[2022-11-30 05:30] pmbrull commented on #8422
we need to start with this yet

[2022-11-30 05:36] pmbrull commented on #9068
agree on the query. Will the checksum still be the name? In any case, this will also solve https://github.com/open-metadata/OpenMetadata/issues/8422. Also, should we then use EntityRef for the queries we ingest as part of views DDL and DBT models?

[2022-11-30 05:41] ayush-shah commented on #9068
Having an index similar to key lookup on the checksum and not on queries, would that work?
Unique checksum for queries
if we can have checksum on the backend side, we can directly search for that checksum first, no checksum available means no similar queries.
<img width="842" alt="image" src="https://user-images.githubusercontent.com/40225091/204716526-88f5f111-f14e-4ec9-930a-76afeb65374a.png">

[2022-11-30 05:41] pmbrull commented on #8973
@ulixius9 did you reach out to Superset slack asking about this? If it's not supported by the API we might need to keep it blocked until they bring support or any suggested workaround from their community.

Thanks

[2022-11-30 05:46] ayush-shah commented on #9068
storing queries separately in other table (ex. query_table)
having table entity reference here
We can quickly take a look at which checksums to be checked for which table

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/40225091/204717413-34450323-4d54-4ef6-9410-dc0f0444d358.png">

[2022-11-30 05:50] harshach commented on #9068
@pmbrull to your question of checksums, Yes it will be the same we are already using this method to de-dup queries

[2022-11-30 05:55] #8991 closed

[2022-11-30 05:59] pmbrull commented on #1308
Hi @NiharDoshi99, thanks for reviewing the implementation. I believe that before we are able to close this we need to give more details on the docs on the actual logic behind the Atlas connector. Just providing the technical details on how to connect etc. won't be enough, as how we are moving the data is not straightforward.

Please update the atlas docs https://docs.open-metadata.org/connectors/m

[2022-11-30 06:24] javadebadi opened #9069 "Reading metadata of a CSV file from S3 bucket"
**Affected module**
It is about the Ingestion Framework

**Describe the bug**
Using the datalake connector to read a CSV file from an S3 bucket an error happens. Here is the error part of the log:
[code]

**To Reproduce**

1- AWS
I have an AWS account with the following information:
bucket: javad-openmetadata
region: us-west-2
One CSV file named `user_data.csv` with 3 rows as follows:
[code]
There

[2022-11-30 07:09] pmbrull commented on #7995
let's add 2 types from the schema so that we safely know if we are getting an int or a %

[2022-11-30 07:24] nahuelverdugo commented on #7690
I confirmed with the user that this is happening using PostgreSQL as DB for the OM server.

[2022-11-30 07:25] nahuelverdugo commented on #7635
I confirmed with the user that this is happening using PostgreSQL as DB for the OM server.

[2022-11-30 07:30] #8171 closed

[2022-11-30 07:30] #8579 closed

[2022-11-30 07:30] #9008 closed

[2022-11-30 07:46] #8537 closed

[2022-11-30 07:46] #8546 closed

[2022-11-30 08:00] pmbrull commented on #7457
hi @lialzm, after reviewing this issue, we noticed that the postgres version you are sharing is not supported anymore (https://www.postgresql.org/support/versioning/). Therefore, we are not going to add compatibility here, sorry about that.

Thanks

[2022-11-30 08:00] #7457 closed

[2022-11-30 08:16] Sachin-chaurasiya commented on #8996
- [ ] Tier chart should have another bar showing how many entities are non-tiered i.e no tier associated with them
![image](https://user-images.githubusercontent.com/59080942/204742672-cec80ae3-bcda-47c8-a705-2fa9c3b602ac.png)

- [ ] Here we should how many are owned vs non-owned
![image](https://user-images.githubusercontent.com/59080942/204742779-223432a7-352e-4548-84d7-20a3cbf7337b.png)

- [ ]

[2022-11-30 11:13] #5362 closed

[2022-11-30 11:48] #9045 closed

[2022-11-30 12:35] widders opened #9078 "Usernames are generated from email not provided username from OIDC"
**Affected module**
UI - Login/User Creation

**Describe the bug**
When using OIDC authentication, during the user creation and login the username is extracted from the email address not the preferred_username field, even if this is specified first in the JWT claims.
If a users username and email address don't match, they see the user signup page, OMD creates a user with the wrong username from th

[2022-11-30 13:39] pmbrull opened #9082 "Missing Connection Details"
ref https://openmetadata.slack.com/archives/C02B6955S4S/p1669811140281019

for Kinesis, Quicksight and Sagemaker

[2022-11-30 13:54] yuqi-sun opened #9083 "Adding a child term to a parent term in glossary produces error"
**Affected module**
Does it impact the UI/backend

**Describe the bug**
When you try to add a new term to a parent term, the following error appears: `An exception with message [null] was thrown while processing request.`

**To Reproduce**
1. Create a glossary.
2. Add a term T to the glossary, write name and description and save.
3. Add a new term to term T, write name and description.
4. When cli

[2022-11-30 15:02] #6203 closed

[2022-11-30 15:07] nahuelverdugo commented on #8364
Sorry @ssandy83, I hope you have not started to work on this issue, but it has been closed as part of another [issue](https://github.com/open-metadata/OpenMetadata/pull/9073) we were fixing. Feel free to reach out to us on Slack if you want to collaborate on another task :)

[2022-11-30 15:07] #8364 closed

[2022-11-30 15:20] #9082 closed

[2022-11-30 15:41] bmy-ashampoo opened #9085 "ElasticSearch login credentials visible in OpenMetadata Service connection infos"
**Affected module**
UI

**Describe the bug**
When viewing the OpenMetadata Service connection infos the login credentials are visible in clear text

**To Reproduce**
Settings > Services > Metadata > OpenMetadataService > Connection

**Expected behavior**
The credentials should be blurred or hidden

**Version:**
 - OpenMetadata version: 0.13

**Additional context**
Add any other context about the p

[2022-11-30 17:44] #8993 closed

[2022-11-30 18:44] harshach commented on #8996
- [ ] Once the KPI is defined, there is now way to edit it . It needs a edit button in actions
<img width="1499" alt="image" src="https://user-images.githubusercontent.com/38649/204881421-a91320b2-8838-4e6f-9ac7-be323153f626.png">

- [ ] We are asking users enter name and display name. This is redudant and confusing for the users. We should just ask for displayName and generate a unique name out o

[2022-11-30 18:45] harshach commented on #8996
- [ ] Please use the camelcase where appropriate for labels. @devyani-kaushik need a guidance and consistency in creation of labels
<img width="782" alt="image" src="https://user-images.githubusercontent.com/38649/204882355-6babeeaf-e581-469b-a91b-78936d7fffcc.png">

[2022-11-30 18:46] harshach commented on #9085
@mohityadav766 @Sachin-chaurasiya lets not return any of the credentials back

[2022-11-30 18:50] harshach opened #9087 "Search, show the condition after user applies the Advanced Search"
**Affected module**
UI

**Describe the bug**
User clicks on Advanced Search and applies a filter
<img width="997" alt="image" src="https://user-images.githubusercontent.com/38649/204853074-1a31d0ca-a33a-49c2-bf6a-99569edbc194.png">

we show the results
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/38649/204853126-d7b20fda-e932-4267-a09a-d39412f83f84.png">

But its un

[2022-11-30 18:52] harshach commented on #9087
- [ ] we need some text what is that dialog box is doing
<img width="985" alt="image" src="https://user-images.githubusercontent.com/38649/204883345-7ee013d1-e241-44a6-85e8-d128e377805c.png">

- [ ] The way we are showing fields is confusing . I.e user.name, user.type we shouldn't be showing all those fields instead just show owner and users can select a team name or user name . Similarly service.

[2022-11-30 21:07] harshach commented on #9078
@mohityadav766 @chirag-madlani any update on this?

[2022-11-30 23:52] cbeauch opened #9089 "Activity Feed Display Wrong "Day""
**Affected module**
UI

**Describe the bug**

- User does something, somewhere
- Activity feed says they did said thing "Yesterday" when it should say "Today"

![Screen Shot 2022-11-30 at 4 52 38 PM](https://user-images.githubusercontent.com/46851320/204932851-3bdbd035-c09f-4033-8a7d-5058909302c6.png)

In the above screenshot, the user made the comment today at 09:41AM.

If a day does pass, it wil